body {
  background-color: #f1e4f8;
  color: #101120;
  font-family: 'Lato', sans-serif;
  line-height: 1.55;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #b4bce7;
  color: #101120;
  font-size: x-large;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #b4bce7;
  color: #101120;
  font-size: medium;
  font-weight: 400;
  text-align: center;
}

main {
  padding: auto;
} 

h1 {
  color: #0b0c18;
  font-size: large;
  font-weight: 700;
}
h2 {
  color: black;
  font-size: medium;
  font-weight: 500;
}

p {
  margin: 6px 0;
}

a {
  color: #2e1858;
}

a:hover {
  color:#8c7ece
}

