body {
    background-color: #86bdddc9;
    color: #101120;
    font-family: 'Lato', sans-serif;
    line-height: 1.55;
    margin: 0;
}

header {
    font-size: x-large;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
footer {
    display: inline;
    align-items: center;
    background-color: #86bdddc9;
    color: #101120;
    width: 100%;
    padding: 5px
}

main {
    padding: auto;
} 

h1 {
    color: #101120;
    font-size: large;
    font-weight: 700;
}
h2 {
    color: black;
    font-size: medium;
    font-weight: 500;
}

p {
  margin: 6px 0;
}

a {
  color: #2d327a;
}

a:hover {
  color:#6b70b3
}