body {
  background-color: #f1e4f8;
  color: #101120;
  font-family: 'Lato', sans-serif;
  line-height: 1.55;
  margin: 0;
}

header {
  background-color: #b4bce7;
  color: #101120;
  font-size: x-large;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #b4bce7;
  color: #101120;
  font-size: medium;
  font-weight: 400;
  text-align: center;
}

main {
  padding: auto;
} 

h1 {
  color: #0b0c18;
  font-size: large;
  font-weight: 700;
}
h2 {
  color: black;
  font-size: medium;
  font-weight: 500;
}

p {
  margin: 6px 0;
}

a {
  color: #2e1858;
}

a:hover {
  color:#8c7ece
}

.store-details-page {
  background-color: #e2e1e7;
  padding: 2px;
  font-size: 15x;
  text-align: center;
}

.store-details-info {
  display: grid;
  place-content: center;
  grid-template-columns: auto auto;
  background-color: #5e4d8b;
  padding: 10px;
  gap: 6px;
}

.store-details-info div {
  background-color: #efeff3;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.store-details-info button {
  align-items: center;
  color: aliceblue;
  text-align: center;
  background-color: #bb194a;
  padding: 1x;
  gap: 5px;
}

.add-store {
  align-items: center;
  color: rgb(5, 5, 5);
  text-align: center;
  background-color: #b4bce7;
  padding: 1x;
  gap: 5px;
}

.add-store button {
  align-items: center;
  color: aliceblue;
  text-align: center;
  background-color: #5e4d8b;
  padding: 1x;
  gap: 5px;
}

.form {
  background-color: #e2e1e7;
  padding: 2px;
  font-size: 15x;
  text-align: center;
}